body {
  font-family: Roboto;
  margin: 0;
}
ul {
  list-style: none;
}
/* --------------------------INDEX------------------------- */
/*------------------------ header ------------------ */
.logo {
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 31px;
  margin: 145px 21px 0 0;
}
.logo:visited {
  color: #000;
}
.logo-blue {
  color: #2196f3;
}

.nav-item {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.current {
  color: #2196f3;
}

.contact-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-link {
  text-decoration: none;
  font-weight: 500;
}
.contact-link:visited {
  color: #757575;
}
.contact-link:hover,
.contact-link:active {
  color: #2196f3;
}

/* MAIN */
/* -------------------------------hero  ---------------------*/
.hero {
  /* width: 1600px; */
  /* height: 600px; */
  background-color: #2f303a;
  text-align: center;
}
.title {
  text-align: center;
}
.hero-title {
  font-weight: 900;
  color: #fff;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
}
/* ----------------------------------- features ------------------- */

.features-item {
  width: 270px;
}
.features-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.features-description {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}
/* -----------------------------------about --------------------- */
.about-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}
/* --------------------------------------team --------------------------- */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.team-card {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.team-card:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  letter-spacing: 0.03em;
}
.team-prof {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* FOOTER  */
.footer {
  background-color: #2f303a;
}

.address-map {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.address-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ---------------------PORTFOLIO------------------------ */

.sort-btn {
  background: #f5f4fa;
  border: 0;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.sort-btn:hover {
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-item {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}
.portfolio-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
